.cell {
    color: #fff;
    text-align: center;
    padding: 0 12%;
}

/* .cell:nth-child(7) {
    order: 12
}
.cell:nth-child(8) {
    order: 11
}
.cell:nth-child(9) {
    order: 10
}
.cell:nth-child(10) {
    order: 9
}
.cell:nth-child(11) {
    order: 8
}
.cell:nth-child(12) {
    order: 7
}
.cell:nth-child(13) {
    order: 13
} */

.cytoplasm {
    display: flex;
    padding: 30px 0;
    margin: 30px 0;
    height: 100%;
    border: 1px solid darkblue;
    background-color: royalblue;
    position: relative;
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
}

.cytoplasm > span {
    display: inline-flex;
    position: absolute;
    width: 30px; height: 30px;
}

.upperL {
    top: 0; left:0;
}
.upperR {
    top: 0; right:0;
}
.lowerR {
    bottom: 0; right: 0;
}
.lowerL {
    bottom: 0; left: 0;
}