.cell {
    color: #fff;
    text-align: center;
    padding: 24%;
}

.cell:nth-child(12n+7) {
    grid-column-start: 6
}
.cell:nth-child(12n+8) {
    grid-column-start: 5
}
.cell:nth-child(12n+9) {
    grid-column-start: 4
}
.cell:nth-child(12n+10) {
    grid-column-start: 3
}
.cell:nth-child(12n+11) {
    grid-column-start: 2
}
.cell:nth-child(12n+12) {
    grid-column-start: 1
}

@media (max-width:1024px){
    .cell:nth-child(12n+7) {
        grid-column-start: unset
    }
    .cell:nth-child(12n+8) {
        grid-column-start: unset
    }
    .cell:nth-child(12n+9) {
        grid-column-start: unset
    }
    .cell:nth-child(12n+10) {
        grid-column-start: unset
    }
    .cell:nth-child(12n+11) {
        grid-column-start: unset
    }
    .cell:nth-child(12n+12) {
        grid-column-start: unset
    }

    .cell:nth-child(8n+5) {
        grid-column-start: 4
    }
    .cell:nth-child(8n+6) {
        grid-column-start: 3
    }
    .cell:nth-child(8n+7) {
        grid-column-start: 2
    }
    .cell:nth-child(8n+8) {
        grid-column-start: 1
    }
}

@media (max-width:700px){
    .cell:nth-child(8n+5) {
        grid-column-start: unset
    }
    .cell:nth-child(8n+6) {
        grid-column-start: unset
    }
    .cell:nth-child(8n+7) {
        grid-column-start: unset
    }
    .cell:nth-child(8n+8) {
        grid-column-start: unset
    }

    .cell:nth-child(4n+3) {
        grid-column-start: 2
    }
    .cell:nth-child(4n+4) {
        grid-column-start: 1
    }
}


.cytoplasm {
    display: flex;
    height: 100%;
    position: relative;
    /* background-image: url('../img/bg1.png'); */
    background-color: royalblue;
    /* border: 2px solid royalblue; */
    -webkit-transform: rotate(45deg) skew(-0.32175055rad, -0.32175055rad);
    -moz-transform: rotate(45deg) skew(-0.32175055rad, -0.32175055rad);
    -ms-transform: rotate(45deg) skew(-0.32175055rad, -0.32175055rad);
    -o-transform: rotate(45deg) skew(-0.32175055rad, -0.32175055rad);
    transform: rotate(45deg) skew(-0.32175055rad, -0.32175055rad);
    transition: all 0.3s linear 0s;
}

.cytoplasm > span {
    display: inline-flex;
    position: absolute;
    width: 30px; height: 30px;
}

.cell:nth-child(12n+7) > .cytoplasm {
    /* border: 2px solid yellowgreen; */
    background-color: yellowgreen;
}
.cell:nth-child(12n+8) > .cytoplasm {
    /* border: 2px solid yellowgreen; */
    background-color: yellowgreen;
}
.cell:nth-child(12n+9) > .cytoplasm {
    /* border: 2px solid yellowgreen; */
    background-color: yellowgreen;
}
.cell:nth-child(12n+10) > .cytoplasm {
    /* border: 2px solid yellowgreen; */
    background-color: yellowgreen;
}
.cell:nth-child(12n+11) > .cytoplasm {
    /* border: 2px solid yellowgreen; */
    background-color: yellowgreen;
}
.cell:nth-child(12n+12) > .cytoplasm {
    /* border: 2px solid yellowgreen; */
    background-color: yellowgreen;
}

.upperL {
    top: -20%; left: 0;
}
.upperR {
    top: -20%; right: 10%;
}
.lowerR {
    bottom: 20%; right: 10%;
}
.lowerL {
    bottom: 20%; left: 0;
}
