#character {
    flex: 1;
    width: 100%; max-width: 100%;
    margin-top: 50px;
    background-color:#e5e4de;
    position: relative;
    overflow: hidden;
}

#charaForm {
    width: 100%; max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#charaDecide {
    display: flex;
    flex-flow: column;
    border: 3px solid #d1ac38;
}

#charaDecide > p {
    color: #fff;
    font-weight: bold;
    padding: 6px 0;
    text-align: center;
    background-color: #d1ac38;
}

#electWrap {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #fff;
}

.elect {
    width: 120px; height: 60px;
}

#charaOption {
    display: flex;
    flex-flow: row;
    pointer-events: none;
    margin-top: 40px;
}

.candidate {
    width: 100px; height: 100px;
    background-color: rgb(55, 113, 151);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    margin-right: 20px;
}

.charaActive {
    background-color: rgb(144, 206, 248);
    pointer-events: none;
}

.charaSelected {
    background-color: rgb(5, 44, 70);
    pointer-events: none;
}

.drawLotsNO {
    pointer-events: none;
    color: #e5e4de;
    background-color: rgb(237, 121, 100);
}

.drawLotsOK {
    color: #e5e4de;
    background-color: rgb(71, 110, 116);
}

#gameStartLink {
    opacity: 0;
    pointer-events: none;
}

#machine {
    background-color: #fff;
}

#slot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 5%;
}

.panel {
    color: #fff;
    background-color: #24bd76;
    display: inline-flex;
    flex: 0 1 20%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.wheel {
    width: 100%; height: 100%;
    background-color: #2b3f81;
}

.candidateProfile {
    width: 100%; padding: 10px 0 60px 0;
	display: none;
}

.charaVisual {
    width: 100%; max-width: 25%;
}

.charaVisual > img{
    width: 100%;
}