#character {
    flex: 1;
    width: 100%; max-width: 100%;
    margin-top: 50px;
    background-image: url(../img/bg0.png);
    position: relative;
    overflow: hidden;
}

#charaForm {
    width: 100%; max-width: 1200px;
    margin: 30px auto 4%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 4%;
}

@media screen and (max-width:900px){
    #charaForm {
        padding: 0 3%;
    }
}
@media screen and (max-width:600px){
    #charaForm {
        padding: 0 5%;
    }
}

#charaDecide {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #e5e4de;
    width: 100%; max-width: 70%;
    padding: 0.5% 0.25%;
    border-radius: 6px;
    margin: 0 auto 40px;
}

@media screen and (max-width:900px){
    #charaDecide {
        max-width: 90%;
    }
}

@media screen and (max-width:600px){
    #charaDecide {
        max-width: 100%;
    }
}

#charaForm > p:first-child {
    letter-spacing: 4px;
    font-size: 24px;
    padding: 6px 0;
    margin: 0 auto 30px;
    position: relative;
}

#charaForm > p:first-child:after {
    content: ""; position: absolute; display: inline-flex;
	bottom: 0; right: 0;
	width: 100%; height: 20px;
	transform: skew(-40deg);
	background: #2fe0ff5e;
}

#charaForm > p:nth-child(2) {
    margin: 10px auto 30px;
}

@media screen and (max-width:900px){
    #charaForm > p:nth-child(2) {
        padding: 0 3%;
    }
}

@media screen and (max-width:600px){
    #charaForm > p:nth-child(2) {
        padding: 0 5%;
    }
}

.elect {
    display: flex;
    flex-flow: column;
    height: 50%;
    flex: 1 1 100%;
    background-color: #fff;
    padding: 1%;
    margin: 0 0.5%;
    border-radius: 4px;
    overflow: hidden;
}

.electing {
    z-index: 0;
    position: relative;
}
.electing:before {
    content: '';
    position: absolute;
    border-radius: 4px;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
    margin: 2%;
    transition: box-shadow .5s linear;
    animation: glow .5s infinite alternate;
}
  
@keyframes glow {
    to {
        -webkit-box-shadow: 0 0 2px #2fc4ff; 
        -moz-box-shadow: 0 0 2px #2fc4ff; 
        box-shadow: 0 0 10px #2fc4ff; 
      }
}

.deciding {
    width: 100%;
    position: relative;
}

.deciding > img {
    width: 100%;
    background-color: #fff;
}

#charaOption {
    width: 100%; max-width: 100%;
    display: flex;
    flex-flow: row;
    pointer-events: none;
    margin-top: 50px;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.candidate {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: transparent;
    border: none;
    text-align: center;
    color: #000;
    margin: 0 1%;
    overflow: hidden;
    padding: 0 0 2%;
    border-radius: 4px;
}

.candidate > p {
    background-color: #d1ac38;
    border-radius: 4px;
    color: #fff;
    margin: 30px auto 60px;
    width: 80px;
    padding: 0 5%;
    z-index: 1;
    white-space: nowrap;
}

.candidate > img {
    width: 100%;
    object-fit: cover;
    margin-top: auto;
    z-index: 1;
}

/* .pcVisual {

} */

.mobileVisual {
    display: none;
}

@media screen and (max-width:900px){
    #charaOption {
        flex-flow: row wrap;
        margin-top: 30px;
        justify-content: space-between;
        max-width: 90%;
        background-image: none;
    }
    .candidate {
        flex: 1 0 calc(50% - 14px);
        margin: 10px 7px;
        background-image: url(../img/bg2.png);
        padding: 0;
    }
    .candidate > p {
        margin: 10px auto 20px;
    }
    .candidate > img {
        margin-top: 0;
        margin-bottom: auto;
    }
    .pcVisual {
        display: none;
    }
    .mobileVisual {
        display: inline;
    }
}

@media screen and (max-width:600px){
    #charaOption {
        margin-top: 20px;
        width: 100%; max-width: 100%;
    }
}

.decideBtn {
    margin-top: auto;
    pointer-events: none;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    background-image: url(../img/button.svg);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    filter: brightness(0.9) sepia(0) hue-rotate(-10deg) saturate(0);
    transition: filter .2s ease;
    color: silver;
}

@media screen and (max-width:900px){
    .decideBtn {
        padding: 7px 0;
    }
}

@media screen and (max-width:600px){
    .decideBtn {
        padding: 0 0;
        font-size: 14px;
    }
}

.decideBtnActive {
    pointer-events: auto;
    color: #313131;
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(0);
    transition: filter .2s ease;
}

.decideBtnActive:hover {
    filter: brightness(0.7) sepia(1) hue-rotate(-10deg) saturate(2);
}

.charaActive {
    background-color: rgba(253, 78, 72, 0.3);
    pointer-events: none;
    transition: background-color .2s linear, filter .2s ease;
}

@media screen and (max-width:900px){
    .charaActive {
    background-color: rgba(187, 14, 8, 0.5);
    }
}

.charaSelected {
    filter: brightness(0.7);
    pointer-events: none;
}

.drawLots {
    pointer-events: none;
    width: 190px; height: 54px;
    padding: 5px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    background-image: url(../img/button.svg);
    background-size: 100%;
    color: silver;
    filter: brightness(0.9) sepia(0) hue-rotate(-10deg) saturate(0);
    transition: filter .2s ease;
}

.readyToSlot {
    pointer-events: auto;
    color: #313131;
    filter: brightness(1) sepia(0) hue-rotate(0deg) saturate(0);
    transition: filter .2s ease;
}

.readyToSlot:hover {
    filter: brightness(0.7) sepia(1) hue-rotate(-10deg) saturate(2);
}

#machine {
    display: flex;
    flex-flow: column;
    background-color: #fff;
}

#machine > p {
    text-align: center;
    margin-top: 10px;
}

#machine > p:before {
    content: "";
    display: inline-block;
    width: 14px; height: 14px;
    margin-right: 6px;
    background-image: url(../img/daimond.png);
    background-size: 100%;
    background-position: center;
}

#drawLotsAction > button {
    width: 152px; height: 43px;
    margin: 0 auto;
    padding: 5px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    background-image: url(../img/button.svg);
    background-size: 100%;
    transition: filter .2s ease;
}

#drawLotsAction > button:hover {
    filter: brightness(0.7) sepia(1) hue-rotate(-10deg) saturate(2);
}

#slot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 5%;
}

.panel {
    color: #d1ac38;
    display: flex;
    flex: 0 1 22%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.panel > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; height: 40px;
    font-size: 24px;
    border-radius: 50%;
    border: 1px solid #d1ac38;
    margin: 12px 0;
}

.wheel {
    position: relative;
}

.elect > p, .wheel > p:nth-child(1) {
    text-align: center;
    color: #fff;
    background-color: #2fc4ff;
    border-radius: 4px;
    width: 100%;
    white-space: nowrap;
}

.deciding > p, .wheel > p:nth-child(2) {
    text-align: center;
    color: #2fc4ff;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #2fc4ff;
    margin: 3px auto;
    white-space: nowrap;
}

@media screen and (max-width:900px){
    .panel > p {
        width: 30px; height: 30px;
        font-size: 16px;
    }
}

.wheel > img {
    width: 100%;
}

#drawLotsAction {
    display: flex;
    flex-flow: row;
    margin: 0 auto 12px;
}

#gameStartLink {
    display: none;
    pointer-events: none;
    position: relative;
}

#gameStartLink > a {
    color: #313131;
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    text-decoration: none;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 下面三項是為了讓 IE 也點得到 */
    background-color: transparent;
    filter: alpha(opacity = 1);
}