#event,
#eventVisual,
#eventVisual > img,
#eventDesc {
    width: 100%;
}

#event {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#eventHeadline {
    font-size: 18px;
    margin: 6px auto 0;
    font-family: 'Source Code Pro', monospace;
}

#eventHeadline > span {
    font-family: 'M PLUS 1p', sans-serif;
}

#eventTitle {
    font-size: 30px;
    margin: 20px auto 12px;
}

@media (max-width:1024px){
    #eventHeadline {
        font-size: 16px;
    }
    #eventTitle {
        font-size: 26px;
    }
}
@media (max-width:700px){
    #eventHeadline {
        font-size: 14px;
    }
    #eventTitle {
        font-size: 22px;
    }
}

#eventVisual {
    max-width: 75%;
}

#eventVisual > img {
    width: 100%;
}

#eventDesc {
    max-width: 85%;
    margin: 20px auto 30px;
    text-align: center;
}

.eventBtn {
    width: 190px; height: 54px;
    padding: 5px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    background-image: url(../img/button.svg);
    background-size: 100%;
    transition: filter .2s ease;
    position: relative;
}

.eventBtn:hover {
    filter: brightness(0.7) sepia(1) hue-rotate(-10deg) saturate(2);
}

@media (max-width:1024px){
    .eventBtn {
        width: 171px; height: 49px;
        font-size: 14px;
    }
}
@media (max-width:700px){
    .eventBtn {
        width: 152px; height: 43px;
    }
}

.eventBtn > a {
    color: #313131;
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    text-decoration: none;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 下面三項是為了讓 IE 也點得到 */
    background-color: transparent;
    filter: alpha(opacity = 1);
}