#game {
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

#board {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%; max-width: 1200px;
}

#gameUI, #plyZone {
    display: flex;
    justify-content: space-evenly;
}

#gameUI {
    width: 100%; max-width: 1200px;
    margin: 0 auto;
}

.dice {
    pointer-events: none;
}

.cube {
    cursor: pointer;
}

#eventShower {
    display: none;
}

#eventShower:checked ~ #eventBackground {
    opacity: 0.95;
    z-index: 999;
}

#eventShower:checked ~ #eventWrap,
#eventShower:checked ~ .cytoplasm {
    transform: translate(-600px);
}

label, #eventTrigger {
    pointer-events: none;
}

#eventBackground {
    background-color: #fff; /*黒背景*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 50px;
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 100%;
    z-index: -1;
}

#eventWrap {
    background-image: linear-gradient(135deg, #e8e8e8 1.52%, #ffffff 1.52%, #ffffff 31.82%, #fafafa 31.82%, #fafafa 50%, #e8e8e8 50%, #e8e8e8 51.52%, #ffffff 51.52%, #ffffff 81.82%, #fafafa 81.82%, #fafafa 100%);
    background-size: 46.67px 46.67px;
    box-sizing: border-box;
    height: 100%;
    padding: 20px 30px; /*メニュー内左右上下余白*/
    position: fixed;
    right: -600px; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.2s ease-out; /*0.3s はアニメーションにかかる時間*/
    width: 600px; /*メニュー横幅*/
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
}