#game {
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#board {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%; max-width: 1200px;
}

#gameUI, #plyZone {
    display: flex;
    justify-content: space-evenly;
}

#gameUI {
    width: 100%; max-width: 1200px;
}

.cube {
    cursor: pointer;
}