#intro {
    flex: 1;
    width: 100%; max-width: 100%;
    margin-top: 50px;
    background-color:#e5e4de;
    position: relative;
    overflow: hidden;
}

.circle {
    position: absolute;
    top: -2%; left: 50%;
    transform: translate( -50%, 2% );
    width: 1224px;
    margin: 10px auto;
}

.hanabi {
    position: absolute;
    top: 0; left: 50%;
    transform: translate( -50%, 0 );
    width: 1920px;
    margin: 0 auto;
}

.circle > img, .hanabi > img {
    width: 100%;
}

#introContent {
    position: relative;
    padding: 3% 0 0;
    margin: auto 0;
}

@media screen and (max-width: 600px) {
    #introContent {
        padding: 4% 6% 0;
    }
} 

#introLogo {
    width: 100%; max-width: 460.99px;
    margin: 10px auto 0;
}

#introLogo > img {
    width: 100%; max-width: 100%;
    height: auto;
}

#introSelect {
    display: flex;
    position: relative;
    width: 50%;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto 30px;
}

#introSelect > li {
    display: inline-flex;
    flex: 0 0 auto;
    margin: 12px 0;
}

@media screen and (max-width: 900px) {
    #introLogo {
        margin: 15px auto 0;
    }

    #introSelect {
        flex-flow: column;
        margin: 18px auto;
    }
}

.introBtn {
    width: 272px; height: 77px;
    padding: 5px;
    border: none;
    font-size: 18px;
    background-color: transparent;
    background-image: url(../img/button.svg);
    background-size: 100%;
    transition: filter .2s ease;
}

.introBtn:hover {
    filter: brightness(0.7) sepia(1) hue-rotate(-10deg) saturate(2);
}

@media screen and (max-width: 900px) {
    .introBtn {
        width: 218px; height: 61px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .introBtn {
        width: 191px; height: 54px;
    }
}