#map {
    width: 100%; max-width: 1200px;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
}

@media screen and (max-width:1024px){
    #cellContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width:700px){
    #cellContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 為了讓 cell 是正方形 */
#cellContainer:before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
#cellContainer > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
  
/* 為了讓 cell 可見（藍色底是細胞質，不是 cell） */
#cellContainer> * {
    background: transparent;
    /* border: 1px #ccc solid; */
}

#cellContainer > *:nth-child(6n), 
#cellContainer > *:nth-child(6n+1) {
    background-image: url('../img/tube.svg');
    background-repeat: no-repeat;
}

#cellContainer > *:nth-child(6n) {
    background-position: center 101%;
}

@media screen and (max-width:1024px){
    #cellContainer > *:nth-child(6n), 
    #cellContainer > *:nth-child(6n+1) {
        background-image: none;
    }
    #cellContainer > *:nth-child(4n), 
    #cellContainer > *:nth-child(4n+1) {
        background-image: url('../img/tube.svg');
        background-repeat: no-repeat;
    }
    #cellContainer > *:nth-child(6n) {
        background-position: unset;
    }
    #cellContainer > *:nth-child(4n) {
        background-position: center 101%;
    }
}

@media screen and (max-width:700px){
    #cellContainer > *:nth-child(4n), 
    #cellContainer > *:nth-child(4n+1) {
        background-image: none;
    }
    #cellContainer > *:nth-child(4n) {
        background-position: unset;
    }
    #cellContainer > *:nth-child(3n), 
    #cellContainer > *:nth-child(3n+1) {
        background-image: url('../img/tube.svg');
        background-repeat: no-repeat;
    }
    #cellContainer > *:nth-child(3n) {
        background-position: center 101%;
    }
}

#cellContainer> *:nth-child(1),
#cellContainer> *:nth-child(30) {
    background: transparent;
    /* border: 1px #ccc solid; */
}